.t-weight-normal {
    font-weight: normal;
}

.t-center {
    text-align: center;
}

.t-rainbow {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.t-text-body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    letter-spacing: initial;
    font-size: 20px;
    line-height: 1.3;
    max-width: 600px;

    h1, h2, h3 {
        font-family: sans-serif;
        font-weight: initial;
        letter-spacing: initial;
        margin-left: 20px;
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 1rem;
    }

    li {
        display: list-item;
        list-style-type: disc;
        margin-bottom: .3rem;
    }
}

// @counter-style happy-list {
//     system: cyclic;
//     symbols: "🏡" "🏠" "🏘" "🏚" "🪴" "🌳" "🌻" ;
//     suffix: "  ";
// }