{% extends "layouts/base.njk" %}

{% block content %}
    {% if toc %}
    <div class="js-toc"></div>
    {% else %}
    <div clas="notoc"></div>
    {% endif %}
    <div class="t-text-body">
        <div class="c-headline-image-container">
            <img class="c-headline-image" src="{{ headlineImage }}">
        </div>
        <article class="c-article">
        {{ content | safe }}
        </article>
    </div>
{% endblock %}