{% extends "layouts/base.njk" %}

{% block content %}

<div class="l-full-center-fix p-home-center-text">
    <div class="t-center p-home-center-text__element">
        <h1 class="t-weight-normal">
            {{site[locale].title}}
            <br>
            {{site[locale].dates}}
        </h1>
    </div>
</div>

{% endblock %}