{% set navPages = collections.all | eleventyNavigation %}

<nav class="c-nav">
  <ul class="c-nav__list">
    <a href="{{ "/" if locale=='en' else "/" + locale + "/" }}" class="u-nodeco c-nav__link">
      <li class="c-nav__element is-menu-link {% if (page.url == '/') or (page.url == "/" + locale + "/") %} is-active {% endif %}">🏠</li>
    </a>
  {%- for entry in navPages %}
    {% if locale == entry.locale %}
    <a href="{{ entry.url | url }}" class="c-nav__link u-nodeco">
      <li class="c-nav__element is-menu-link {% if entry.url == page.url %} is-active {% endif %}">
        {{ entry.title }}
      </li>
    </a>
    {% endif %}
  {%- endfor %}
    {# <a href="https://archive.haus.wien" class="u-nodeco c-nav__link" target="_blank">
      <li class="c-nav__element is-menu-link">
        {{ site[locale].archive }} <i class="la la-arrow-up u-rotate-45"></i>
      </li>
    </a> #}
  </ul>
</nav>