<header class="header" role="banner">
  <span class="u-visually-hidden">{{site[locale].metaTitle}} : {{pageTitle}}</span>
  <div class="c-nav c-menu-button-container">
    <div class="c-nav__list">
      <button class="c-menu-button" title="Toggle Menu">
        <i class="la la-bars"></i>
        <i class="la la-times"></i>
      </button>
    </div>
  </div>
  {% include "partials/nav.njk" %}
  {% include "partials/langswitch.njk" %}
</header>
<div id="lettergrid"></div>
<svg id="filters">
	<defs>
		<filter id="threshold">
			<!-- Basically just a threshold effect - pixels with a high enough opacity are set to full opacity, and all other pixels are set to completely transparent. -->
			<feColorMatrix in="SourceGraphic"
					type="matrix"
					values="1 0 0 0 0
									0 1 0 0 0
									0 0 1 0 0
									0 0 0 255 -140" />
		</filter>
	</defs>
</svg>